:root {
  --accent: lightblue;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
}

h1, h2, h3, h4 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

section {
  padding: 4rem 0 4rem 6rem;
  min-height: 100vh;
  max-width: 75vw;
}

/* NAVBAR */
nav {
  width: 14rem;
  height: 100vh;
  position: sticky;
  top: 0;
  text-align: center;
  box-shadow: 0.25rem 0 1rem 0 rgba(0, 0, 0, 0.5);
}

nav li {
  list-style: none;
  margin: 1rem auto;
  line-height: 2rem;
  background: linear-gradient(to left, white 50%, var(--accent) 50%) right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

nav li:focus-within,
nav li:hover {
  background-position: left;
}

nav li a {
  text-decoration: none;
  color: black;
}

/* INTRODUCTION */
h1 {
  font-size: 3rem;
}

#introduction .subtitle {
  font-size: 1.5rem;
  font-style: italic;
  margin: 1rem 0 4rem;
}

#introduction li {
  list-style: none;
  margin: 1rem 0;
}

/* PROBLEM AND GOAL */
#problem {
  display: flex;
  /* flex-wrap: wrap; */
}

#problem img {
  width: 20rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  max-height: 90vh;
}

#problem h2 {
  margin-bottom: 1rem;
}

#problem p {
  margin: 1rem 0;
}

#problem li {
  margin-left: 4rem;
  margin-bottom: 0.5rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  #problem {
    flex-wrap: wrap;
  }
  #problem img {
    margin: 2rem auto 0;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
  section {
    padding: 2rem 3rem;
    max-width: 100vw;
  }
}
